@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html::-webkit-scrollbar{
    width: .5rem;
}

html::-webkit-scrollbar-track{
    background: url(../img/background.png) no-repeat;
}

html::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0, 0.3);
    border-radius: 5rem;
}

body{
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    min-height: 100vh; /* a section home, já comça com 100 de altura, ou seja cobrindo 100% da tela do computador, automaticamente ao colocar justify content center ou aligncenter o titulo ficara ao centro da pagina*/
}

.header{
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0; right: 0; left: 0;
    z-index: 1000;
}

.header img{
    float: left;
    justify-content: left;
}

.header .navbar a{
    margin: 0 1rem;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}

.header .navbar a:hover{
    letter-spacing: 0.1rem;
    background: #00FFFF;
    color: #000;
    padding: 0.7rem;
    border-radius: .4rem;
    transition: 0.4s;
}

.home{
    margin-top: 7.5rem;
    align-items: center;
    display: grid;
}


.title{
    display: block;
    text-align: center;
    font: 3em;
    margin: 1em;
    color: #FFFF;
}

.listaExercicios{
    padding: 4em 2em;
}

.exercicios{
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
}

.lista .exerciciosBotoes{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: #fff;
}

.exercicios li{
    background: #D5E9FE;
    border-bottom: 1px #000 solid;
}

.exercicios li:first-child{
    border-top: 1px #000 solid;
}

.q{
    padding: 1em 0;
    border-left: 10px #D5E9FE solid;
    cursor: pointer;
}

.q:hover,
.q:hover .arrow{
    border-left-color: #0569ff;
}

.arrow{
    display: inline-block;
    margin: 0 0.5em;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 10px solid #555;
    border-bottom: 6px solid transparent;
    transition: 0.3s;
}

.exercicios p{
    justify-content: center;
    color: #000;
    opacity: 80%;
    line-height: 25px;
    text-transform: none;
}

.exercicios .resultado{
    
    justify-content: center;
    color: #000000;
    font-size: large;
    font-style: bold;
    line-height: 25px;
}

.exercicios h3{
    margin-top: 10px;
    line-height: 35px;
    text-transform: none;
}

.exercicios span{
    text-transform: none;
}

.exercicios input{
    width: 60%;
    height: 25px;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0, 140, 255, 0.3);
    border: none;
}

.a{
    overflow: hidden;
    height: 0;
    padding: 0 1em 0 3.3em;
}

.a-opened{
    padding: 1em 1em 2em 3.3em;
    height: initial;
}

.arrow-rotated{
    transform: rotate(90deg);
}

.resultados{
    display: none;
}

#titulo1{
    display: none;
}

#titulo2{
    display: none;
}

#titulo3{
    display: none;
}

#titulo4{
    display: none;
}

#titulo5{
    display: none;
}

#titulo6{
    display: none;
}

#titulo7{
    display: none;
}

#titulo8{
    display: none;
}

#titulo9{
    display: none;
}

#titulo10{
    display: none;
}

#titulo11{
    display: none;
}

#titulo12{
    display: none;
}

#titulo13{
    display: none;
}

#titulo14{
    display: none;
}

#titulo15{
    display: none;
}

#titulo16{
    display: none;
}

#titulo17{
    display: none;
}

#titulo18{
    display: none;
}

#titulo19{
    display: none;
}

#titulo20{
    display: none;
}

#titulo21{
    display: none;
}

#titulo22{
    display: none;
}

#titulo23{
    display: none;
}

#titulo24{
    display: none;
}

#titulo24{
    display: none;
}

#titulo26{
    display: none;
}